section {
  width: 100%;
  display: flex;
  justify-content: center;
}

tr{
    padding: 0% 2%;
}

th {
  background: #2b4162;
  color: white;
  width: auto;
  font-size: 1.4em;
  text-align: center;
}

td{
    width: auto;
    background-color: rgb(238, 238, 238);
    font-size: 1.1em;
    padding: 2px 20px;

}

.btn-main {
  padding: 10px 20px;
  border-radius: 5px;
  background: #0c8346;
  color: white;
  text-decoration: none;
  border: none;
}

.delete {
  background: #bd3039;
}

button:focus {
  outline: none;
}

.btn-main:hover {
  transform: scale(1.1);
}
