<section>
  <h1>{{article.tituloArticulo}} {{id}}</h1>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure harum quisquam beatae reprehenderit unde, soluta perferendis
  nemo? Rem perferendis, minus saepe earum at neque voluptatem? Pariatur tempora explicabo dolorem velit. Lorem ipsum dolor
  sit amet consectetur adipisicing elit. Labore totam, voluptas eius quibusdam veritatis ut odit odio ipsum modi neque quidem,
  sint eligendi expedita sit ex repudiandae id cupiditate magni.
  <div [innerHTML]="article.contenidoArticulo"></div>


</section>
