form {
  display: flex;
  flex-direction: column;
  margin: 1% 25%
}

.btn-main:hover {
  transform: scale(1.1);
}

.center {
  align-self: center;
}

h1{
  color: #0c8346;
}

.btn-main {
  padding: 15px 10px;
  border-radius: 5px;
  background: #0c8346;
  color: white;
  text-decoration: none;
  border: none;
  width: 25%;
}

label{
  font-size: 1.4em;
  margin-bottom: 10px;
}

button:focus,
input:focus {
  outline: none;
}

input {
  border: none;
  font-size: 1.2em;
  border-bottom: #0c8346 solid 1px;
  width: 75%;
  color: rgba(0, 0, 0, 0.9);
}
