<header>
  <nav class="spaced">
    <a routerLink="" class="none"></a>
    <a class="logo" routerLink="/">Uonewsfeed</a>
    <div>
      <a *ngIf="!isLogged()" class="signup" routerLink="signUp">Crear Usuario</a>
      <a *ngIf="!isLogged()" class="login" routerLink="/login">Iniciar sesión</a>
      <button *ngIf="isLogged()" class="signup" (click)="closeSession()">Cerrar sesión</button>

    </div>
  </nav>
  <ul class="navLinks">
    <li>
      <a class="link" routerLink="blogpost">Blogposts</a>
    </li>
    <li>
      <a class="link" *ngIf="isLogged()" routerLink="myblogposts">Mis Articulos</a>
    </li>
    <li>
      <a class="link" *ngIf="isLogged()" routerLink="createBlogPost">Crear Noticia</a>
    </li>
    <li *ngFor="let tag of tags">
      <a class="link" routerLink="blogpost/{{tag.name}}">{{tag.name}}</a>
    </li>
  </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>