<header>
  <nav class="spaced">
    <a routerLink="" class="none"></a>
    <a class="logo" routerLink="/">Uonewsfeed</a>
    <div>
      <a *ngIf="userService.token ==null" class="signup" routerLink="signUp">Crear Usuario</a>
      <a *ngIf="userService.token ==null" class="login" routerLink="/login">Iniciar sesión</a>
      <button *ngIf="userService.token !=null" class="signup" (click)="closeSession()">Cerrar sesión</button>

    </div>
  </nav>
  <nav class="navLinks">
    <a class="link" routerLink="">Blogposts</a>
    <a class="link" *ngIf="userService.token !=null" routerLink="myblogposts">Mis Articulos</a>
    <a class="link"  *ngIf="userService.token !=null" routerLink="createBlogPost">Crear Noticia</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>