<header>
  <nav class="spaced">
    <a href="" class="none"></a>
    <a class="logo" href="/">Uonewsfeed</a>
    <div>
      <a *ngIf="!logged" class="signup" href="signUp">Crear Usuario</a>
      <a *ngIf="!logged" class="login" href="/login">Iniciar sesión</a>
    </div>
  </nav>
  <nav class="navLinks">
    <a class="link" href="">Programación</a>
    <a class="link" href="">User experience</a>
    <a class="link" href="">Tecnología</a>
    <a class="link" href="">Big Data</a>
    <a class="link" href="myblogposts">Mis Articulos</a>
    <a class="link" href="signUp">Crear Usuario</a>
    <a class="link" href="createNews">Crear Noticia</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>