<form (ngSubmit)="sendForm()" #createNews="ngForm">
    <notifier-container></notifier-container>
    <h1>Crear noticia</h1>
    <label>Nombre artículo</label>
    <input [(ngModel)]="blogpost.title" name="articleName" type="text" placeholder="" />
    <br/>
    <div [froalaEditor]="options" [(froalaModel)]="blogpost.body"></div>
    <br/>
    <ul class="inline">
        <li class="inline" *ngFor="let tag of tags">
            <label for="{{tag.name}}">{{tag.name}}
                <input type="checkbox" name="{{tag.name}}" id="{{tag.name}}" value="{{tag.name}}" (click)="addTag(tag)">
            </label>
        </li>
    </ul>

    <br/>
    <button class="btn-main center">{{buttonText}}</button>
</form>
